*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #b0c4de, #e6e6fa);
}

.calculator-container {
  display: grid;
  width: 50%;
  margin: 2rem auto;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: -1 / 1;
  background-color: rgba(0, 0, 0, 0.60);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: keep-all;
}

.previous-operand {
  color: white;
  font-size: 1.3rem;
}

.current-operand {
  color: white;
  font-size: 2rem;
}

button {
  font-size: 2rem;
  background-color: #e6e6fa;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
}

.calculator-container > button:hover,
.calculator-container > button:focus {
  background-color: rgb(230, 230, 250, 0.5);
}

input[type="text"] {
  width: 100%;
  height: 87px;
  font-size: 2rem;
  font-weight: 800;
  color: white;
  background-color: black;
  text-align: right;
  padding: 1rem;
}